/* Coolors Exported Palette - https://coolors.co/181f27-252b33-525853-989c97-c2c1b9-b6af6a-b39d0c-98a8a7-364e7c-222c51 */


/* SCSS HEX */
$rich-black-fogra-29: #181F27ff;
$gunmetal: #252B33ff;
$ebony: #525853ff;
$spanish-gray: #989C97ff;
$silver: #C2C1B9ff;
$misty-moss: #B6AF6Aff;
$lemon-curry: #B39D0Cff;
$morning-blue: #98A8A7ff;
$y-in-mn-blue: #364E7Cff;
$space-cadet: #222C51ff;

/* SCSS HSL */
$rich-black-fogra-29: hsla(212, 24%, 12%, 1);
$gunmetal: hsla(214, 16%, 17%, 1);
$ebony: hsla(130, 4%, 33%, 1);
$spanish-gray: hsla(108, 2%, 60%, 1);
$silver: hsla(53, 7%, 74%, 1);
$misty-moss: hsla(54, 34%, 56%, 1);
$lemon-curry: hsla(52, 87%, 37%, 1);
$morning-blue: hsla(176, 8%, 63%, 1);
$y-in-mn-blue: hsla(219, 39%, 35%, 1);
$space-cadet: hsla(227, 41%, 23%, 1);

/* SCSS RGB */
$rich-black-fogra-29: rgba(24, 31, 39, 1);
$gunmetal: rgba(37, 43, 51, 1);
$ebony: rgba(82, 88, 83, 1);
$spanish-gray: rgba(152, 156, 151, 1);
$silver: rgba(194, 193, 185, 1);
$misty-moss: rgba(182, 175, 106, 1);
$lemon-curry: rgba(179, 157, 12, 1);
$morning-blue: rgba(152, 168, 167, 1);
$y-in-mn-blue: rgba(54, 78, 124, 1);
$space-cadet: rgba(34, 44, 81, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #181F27ff, #252B33ff, #525853ff, #989C97ff, #C2C1B9ff, #B6AF6Aff, #B39D0Cff, #98A8A7ff, #364E7Cff, #222C51ff);
$gradient-right: linear-gradient(90deg, #181F27ff, #252B33ff, #525853ff, #989C97ff, #C2C1B9ff, #B6AF6Aff, #B39D0Cff, #98A8A7ff, #364E7Cff, #222C51ff);
$gradient-bottom: linear-gradient(180deg, #181F27ff, #252B33ff, #525853ff, #989C97ff, #C2C1B9ff, #B6AF6Aff, #B39D0Cff, #98A8A7ff, #364E7Cff, #222C51ff);
$gradient-left: linear-gradient(270deg, #181F27ff, #252B33ff, #525853ff, #989C97ff, #C2C1B9ff, #B6AF6Aff, #B39D0Cff, #98A8A7ff, #364E7Cff, #222C51ff);
$gradient-top-right: linear-gradient(45deg, #181F27ff, #252B33ff, #525853ff, #989C97ff, #C2C1B9ff, #B6AF6Aff, #B39D0Cff, #98A8A7ff, #364E7Cff, #222C51ff);
$gradient-bottom-right: linear-gradient(135deg, #181F27ff, #252B33ff, #525853ff, #989C97ff, #C2C1B9ff, #B6AF6Aff, #B39D0Cff, #98A8A7ff, #364E7Cff, #222C51ff);
$gradient-top-left: linear-gradient(225deg, #181F27ff, #252B33ff, #525853ff, #989C97ff, #C2C1B9ff, #B6AF6Aff, #B39D0Cff, #98A8A7ff, #364E7Cff, #222C51ff);
$gradient-bottom-left: linear-gradient(315deg, #181F27ff, #252B33ff, #525853ff, #989C97ff, #C2C1B9ff, #B6AF6Aff, #B39D0Cff, #98A8A7ff, #364E7Cff, #222C51ff);
$gradient-radial: radial-gradient(#181F27ff, #252B33ff, #525853ff, #989C97ff, #C2C1B9ff, #B6AF6Aff, #B39D0Cff, #98A8A7ff, #364E7Cff, #222C51ff);